/*修改滚动条样式*/
::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: rgb(79 79 79 / 30%);
}

::-webkit-scrollbar-track {
    opacity: 0;
    /*完全透明*/
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #0aacfc;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    /* background: #bfbfbf; */
    background: #979797;
}

::-webkit-scrollbar-corner {
    background: #179a16;
}